.App {
  text-align: center;
}

.bg-today {
  background-color: #4af876 !important;
}

.delete-btn:hover {
  background-color: #ff6d6d;
  color: white;
  font-weight: bold;
}

.hover:hover {
  cursor: pointer;
}
